<nav>
  <div id="navbar">
    <div id="navbar-container">
      <span class="open-slide">
        <a href="#" class="openSlideMenu" id="open-slide">
          <svg width="30" height="25">
            <path d="M0,5 30,5" stroke="#fff" stroke-width="4" />
            <path d="M0,14 30,14" stroke="#fff" stroke-width="4" />
            <path d="M0,23 30,23" stroke="#fff" stroke-width="4" />
          </svg>
        </a>
      </span>
      <a class="brand" href="/">Brand</a>
      <div class="search-container">
        <form>
          <input class="desktop-input-search" type="text" placeholder="Search.." name="search">
          <button class="desktop-search-btn " type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
      <div class="shopping-card">
        <a href="/cart">
          <i class="fa fa-shopping-cart"></i> {{session.cart.totalQty}}</a>
      </div>
      <div class="navbar-right">
        {{#if isAuthenticated}}
        <div class="dropdown-user-sign">
          <button class="dropbtn">
            <i class="fa fa-user fa-1x "></i>
            <span class="log-in">{{session.passport.user.username}} </span>
            <i class="fa fa-caret-down"></i>
          </button>
          <div id="dropdown-content-user-sign">
        {{#if userBasic}}
            <a class="authenticated-dropbtn" href="/profile">Profile</a>
            <a class="authenticated-dropbtn" href="/dashboard"> Dashboard</a>
            <a class="authenticated-dropbtn" href="/logout">Log Out</a>
         {{/if}}
          {{#if userPro}}
            <a class="authenticated-dropbtn" href="/profile">Profile</a>
            <a class="authenticated-dropbtn" href="/dashboard"> Dashboard</a>
            <a class="authenticated-dropbtn" href="/logout">Log Out</a>
         {{/if}}
          {{#if userCustomer}}
            <a class="authenticated-dropbtn" href="/profile">Your Profile</a>
            <a class="authenticated-dropbtn" href="/orders">Your Orders</a>
          <a class="authenticated-dropbtn" href="/profile/settings">Settings</a>
            <a class="authenticated-dropbtn" href="/logout">Log Out</a>
         {{/if}}
          </div>
        </div>
        {{else}}     
        <div class="dropdown-user-sign">
          <button class="dropbtn">
            <i class="fa fa-user fa-1x "></i>
            <span class="log-in">Log In | join </span>
            <i class="fa fa-caret-down"></i>
          </button>
          <div id="dropdown-content-user-sign">
            <button id="singnUpBtn">Sign Up</button>
            <a class="loginBtn" href="/login">Log In</a>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</nav>
<div id="search-wrapper-mobile">
  <div class="container-search-mobile">
    <form action="">
      <input type="text" id="search-input-mobile" placeholder="Search..." name="search">
      <button class="mobile-search-btn " type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</div>
</div>

<div id="side-menu" class="side-nav">
  <div class="head-side-nav">
    <button href="#" id="btn-close">&times;</button>
    <br>
      {{#if isAuthenticated}}
    <a href="#">Hello : {{session.passport.user.username}}</a>
    
  </div class="body-side-nav">
  {{#if userBasic}}
  <a href="/dashboard">Dashboard</a>
  {{/if}} {{#if userPro}}
  <a href="/dashboard">Dashboard</a>
  {{/if}} 
  {{#if userCustomer}}
   <a class="authenticated-dropbtn" href="/profile">Your Profile</a>
   <a class="authenticated-dropbtn" href="/orders">Your Orders</a>
     <button class="dropdown-btn-signup">Settings
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
  <a href="/profile/settings">Edit Profile</a>
  <a href="/password/reset">Change Password</a>
  <a href="">Change Email</a>
  </div>
  {{/if}}
 <a class="authenticated-dropbtn" href="/logout">Log Out</a>
  {{else}}
  <a href="/login">Login</a>
  <button class="dropdown-btn-signup">Sign up
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/customer/signup"> as Customer</a>
    <a href="/user-basic/signup"> as User Basic</a>
    <a href="/user-pro/signup"> as User Pro</a>
  </div>

  <a href="/contact">Contact Us</a>
</div>
{{/if}}
</div>
</div>


{{>modal-signUp}}