
{{>navbar}} 
<div class="container-main-page">
{{>departments}}
  <div id="products-wrapper">
        {{#each result}}         
          <div class="card">
            <div class="card-img">
              <img  src="/userFiles/products/images/{{this.image}}"  alt="" >
              </div>
              <div class="card-body">
                <h4 class="card-title"><a href="/product/{{id}}">{{title}}</a></h4>
                <h3 >${{price}}</h3>
               <p class="card-description">{{description}}</p>
            </div>
              <a href="/product/{{id}}" class="card-btn-details">View Details</a>
          </div>
  {{/each}}
</div>
  </div>
