 <div class="container">
    {{#if errors}} 
    {{#each errors}}
    <div class="alert alert-danger">
        {{this.msg}}
    </div>
    {{/each}}
 {{/if}}

 {{#each results}}
  <h1>{{title}}</h1>
  <div>{{description}}</div>
  <form action="/posts/delete/{{id}}?_method=DELETE"  method="POST">
      <a class="btn btn-primary" href="/posts/edit/{{id}}">EDIT</a>
      <button class="btn btn-danger" type='submit' value='delete' onclick="DeletePost()">DELETE</button>
  </form>
  {{/each}}
