{{>navbar}} 
<div class="container">
  {{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">
        {{msg}}
      </div>
    {{/each}}
  {{/if}}
  {{#if success}}
    {{#each messages.success}}
      <div class="alert alert-success">
        {{msg}}
      </div>
    {{/each}}
  {{/if}}
  <section id="products">
    <div class="container">
      <div class="row">
        {{#each results}}
       <div class=" col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">           
          <div class="card ">
              <div class="card-body">
              <img class="card-img-top" src="/images/{{this.image}}"  alt="" >
                <h4 class="card-title"><a href="/products/{{id}}">{{title}}</a></h4>
                <p class="card-text module line-clamp">{{description}}</p>
                <h5class="pull-right">$699.99</h5>
              </div>
               <div class="card-footer ">
              <a href="/product/{{id}}" class=" btn btn-primary btn-sm">View Details</a>
              <a href="#" class=" btn btn-success btn-sm">ADD TO CART</a>
            </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
