{{>navbar}}
<div class="container-orders">
  <h1 class="orders-title">Your Orders</h1>
  <hr> {{#if result}} {{#each result}}
  <div class="card-orders">
    <div class="card-header-orders">
      <div class="order-placed">
        <p>ORDER PLACED</p>
        <p>{{date}}</p>
      </div>
      <div class="total-price">
        <p>Total</p>
        <p> $ {{totalPrice}}</p>
      </div>
       <div class="product_qty">
        <p>Product Qty</p>
        <p>  {{product_qty}}</p>
      </div>
    </div>
    <div class="card-body-orders">
      <div class="container-img-orders">
        <img class="order-image" src="/userFiles/productImages/{{this.product_image}}" alt="No image available">
      </div>
      <div class="order-details">
         <a  class="btn btn-primary "href="/download/{{product_file_id}}">Download</a>
        <p class="card-title-orders">
          <a href="/product/{{product_id}}">{{product_title}}</a>
        </p>
        <p> Sold By
          <a href="/user/{{seller_id}}">{{username}}</a>
        </p>
        <p> $ {{product_price}}</p>
        <p class="card-description-orders">{{product_description}}</p>
      </div>
    </div>

  </div>

  {{/each}} {{else}}
  <h1>You have no orders</h1>
  {{/if}}