 {{>navbar}}
<!--user profile card -->
<div class="alerts-reset-psw">
  {{#if info_msg}}
    {{#each info_msg}}
    <br>   
    <div class="alert-info_msg">{{msg}}</div> 
    {{/each}}
  {{/if}}
    {{#if error_msg}}
    {{#each error_msg}}
    <br>   
    <div class="alert-error_msg">{{msg}}</div> 
    {{/each}}
  {{/if}}
      {{#if success_msg}} 
        {{#each success_msg}}
        <br> 
    <div class="alert-success_msg">{{msg}}</div> 
  {{/each}}
  {{/if}}
  </div>
 
<div class="container-profile-user-basic">
  <aside class="wrapper-userBasicCard">
    <div class="user-card">
      <div class="user-card-header">
        <img src="/userFiles/userAvatars/{{resultCard.avatar}}" alt="No Image available">
      </div>
      <div class="user-card-body">
        <h1>{{resultCard.username}}</h1>
        <p class="user-card-about">{{resultCard.about}}</p>
        <div>
          <a href="#">
            <i class="fa fa-dribbble social-icons-user-card"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter social-icons-user-card"></i>
          </a>
          <a href="#">
            <i class="fa fa-linkedin social-icons-user-card"></i>
          </a>
          <a href="#">
            <i class="fa fa-facebook social-icons-user-card"></i>
          </a>
        </div>
      </div>
    </div>
  </aside>

  <!--user products-->
  <div class="userBasicProfile-wrapper">
    {{#if result }} {{#each result}}
    <div class="card">
      <div class="card-header">
        <img src="/userFiles/productImages/{{this.image}}" alt="No image available">
      </div>
      <div class="card-body">
          <p class="card-title">
          <a class="card-title" href="/product/{{id}}">{{title}}</a>
        </p>
         <p>{{date}}</hp>
        <h3>${{price}}</h3>
         
        <p class="card-description">{{description}} </p>
      </div>
      <div class="card-footer">
        <a href="/product/{{id}}" class="card-btn-details">View Details</a>
      </div>
    </div>
    {{/each}} {{/if}}
  </div>
</div>

{{>footer}}