<div class="row">
  <!--  edit admin-sidebar-user-basic in partial folder-->
  {{>dashboard-sidebar}}
  <!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <div class="col-lg-10">
        <h1>Add Product</h1>
        <hr> {{#if error_msg}} {{#each error_msg}}
        <div class="alert alert-danger">
          {{msg}}
        </div>
        {{/each}} {{/if}} {{#if errors}} {{#each errors}}
        <div class="alert alert-danger">
          {{msg}}
        </div>
        {{/each}} {{/if}} {{#if success_msg}} {{#each success_msg}}
        <div class="alert alert-success">
          {{msg}}
        </div>
        {{/each}} {{/if}}
        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">Add Product</h3>
          </div>
          <form method="POST" action="/product/add?_csrf={{ csrfToken}}" id='product-form-upload'>

            <div class="panel-body">
              <ul class="nav nav-tabs" role="tablist">
                <a href="/product/list" class="btn btn-default pull-right " type="submit" name="submit" data-toggle="tooltip" data-placement="top"
                  title="Cancel">
                  <i class="fa fa-share" style="color:black"></i>
                </a>
                <button class="btn btn-primary pull-right" type="submit" name="submit" data-toggle="tooltip" data-placement="top" title="Save">
                  <i class="fa fa-save"></i>
                </button>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="general" role="tabpanel">
                  <br>
                </div>
                <form method="POST" action="/upload-image?_csrf={{ csrfToken}}" enctype="multipart/form-data">

                <div class="wrapperAvatar">
                </div>
                <p class="product-image-error"></p>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h2>Upload Image</h2>
                    <div class="progress">
                      <div class="progress-bar progress-bar-productImage" role="progressbar"></div>
                    </div>
                    <button class="btn btn-lg upload-btn" type="button">Upload Product  Image</button>
                  </div>
                </div>
                <input id="upload-input-product-image" type="file" name="productImage" class="avatarInput" title="Please upload a Image">
              </form>

                <p class="product-file-error"></p>
              <form method="POST" action="/upload-product-file?_csrf={{ csrfToken}}" enctype="multipart/form-data">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h2>Upload File</h2>
                    <div class="progress">
                      <div class="progress-bar progress-bar-file " role="progressbar"></div>
                    </div>
                    <button class="btn btn-lg upload-btn-file" type="button">Upload Product file</button>
                  </div>
                </div>
                <input id="upload-input-product-file" type="file" name="productFile" title="Please upload a valid file">
              </form>
                <div class="form-group">
                  <label>Title</label>
                  <p class="product-title-error"></p>
                  <input type="text" name="title" class="form-control form-control-lg product-title"  placeholder="Description must be betwwen 10 and 150 characters" >
                </div>
               
                <div class="form-group">
                  <label>Description</label>
                 <p class="product-description-error"></p>
                  <textarea class="form-control product-description" rows="3" name="description" minlength="0" maxlength="1500" placeholder="Description must be betwwen 150 and 1500 characters"
                    title="Description must be betwwen 150 and 1500 characters"></textarea>
                </div>
                <div class="form-group">
                  <label>Price</label>
                  <p class="product-price-error"></p>
                  <input type="text" name="price" class="form-control product-price-input " step="0.01" placeholder="Product price must be between 1 and 4 numbers" >
                </div>

               
                <div class="form-group">
                  <p class="product-category-error"></p>
                  <label for="exampleFormControlSelect1">Category</label>
                  <select class="form-control product-category-all" name="category">
                    <option value='all'>All</option>

                    <option value="pdf-files">PDF File</option>
                    <option value="images">Images</option>
                    <option value="website-themes">Website Themes</option>
                    <option value="scripts">Scripts</option>
                    <option value="cv">CV</option>
                    <option value="plugins">PLugins</option>
                    <option value="music-sheets">Music Files</option>
                    <option value="graphics">Graphics</option>
                  </select>
                </div>
              </div>
            

              <button class="btn btn-default" type="submit">Save</button>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>