<div class="row">

  {{>dashboard-sidebar}}
  <!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <div class="col-lg-12">

        <h1>Edit Product</h1>
        <hr>
        <hr> {{#if errors}} {{#each errors}}
        <div class="alert alert-danger">
          {{msg}}
        </div>
        {{/each}} {{/if}} {{#if success_msg}} 
        {{#each succes_msg}}
        <div class="alert alert-success">
          {{msg}}
        </div>
        {{/each}} {{/if}} 
        <div class="panel panel-default">
          <div class="panel-heading main-color-bg">
              <h3 class="panel-title"> Edit Product</h3>
          </div>
          <div class="panel-body">
        <a href="/product/list" class="btn btn-default pull-right " type="submit" name="submit" data-toggle="tooltip" data-placement="top" title="Cancel"><i class="fa fa-share" style="color:black" ></i></a>
            <br>
          <form action="/product/edit/{{result.id}}?_csrf={{ csrfToken}}" method="POST" enctype="multipart/form-data" >
            <div class="form-group">
              <label>Title</label>
              <input type="text"  value={{result.title}} class="form-control" placeholder="Title must be between 10 and 150 characters" minlength="5" maxlength="150" name="title" pattern=".{5,150}"   title="Title must be between 5 and 150 characters"  required="true" name="title" >
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" rows="3" name="description" minlength="150" maxlength="1500" placeholder="Description must be betwwen 150 and 1500 characters" title="Description must be betwwen 150 and 1500 characters"  required="true">{{result.description}}</textarea>
            </div>
             <div class="form-group">
              <label>Price</label>
              <input type="text" class="form-control"placeholder="Product price must be between 1 and 6 numbers" maxlength="6" minlength="1" name="price" pattern=".{1,6}"  title="Price must be between 1 and 6 numbers"  required="true" name="price" value={{result.price}}>
            </div>
            <div class="form-group">
                  <label for="exampleFormControlSelect1">Category</label>
                  <select class="form-control" name="category" >
                    <option value='{{result.category_name}}'>{{result.category_name}}</option>
                    <option value="pdf-files">PDF File</option>
                    <option value="images">Images</option>
                    <option value="website-themes">Website Themes</option>
                    <option value="scripts">Scripts</option>
                    <option value="cv">CV</option>
                    <option value="plugins">PLugins</option>
                    <option value="music-sheets">Music Files</option>
                    <option value="graphics">Graphics</option>
                  </select>
                </div>
            <!--input to update product image-->
           <div class="wrapperAvatar">
            <img class="avatarImage " src="/userFiles/productImages/{{result.image}}" alt="no image"  />
              
            </div>
            <input type="file" name="productImage" class="avatarInput">
            <br>
            <button type="submit" class="btn btn-default">Save</button>
          </form>
             
        </div>
      </div>
    </div>
  </div>