{{>navbar}} 

<div class="container-product-detail">
  <div class="product-details-left">
    <img class="main-img" src="/userFiles/productImages/{{rows.image}}" alt="No image Available">
    <img class="product-thumbnail" src="" alt="">
    <img class="product-thumbnail" src="" alt="">
    <img class="product-thumbnail" src="" alt="">
  </div>
  <div class="product-details-right">
    <h1 class="product-name">{{rows.title}}</h1>
    <p>Sold By: <a href="/user/{{rows.user_id}}">{{rows.username}} </a></p>
    <p>Category: {{rows.category_name}}</p>
    <p>Sales:5</p>
    <h4>$ {{rows.price}}</h4>
      <div class="wrapper-btn-product"> 
       
         <form method='POST' action="/cart/{{rows.id}}">
             <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <button type="submit"class="add-to-cart">Add to Cart</button> 
        </form>
      </div>
  </div>
</div>
<div class="product-description-wrapper">
  <h2>Product description</h2>
  <p>{{rows.description}}j</p>

  
</div>
