<div class="row">
  <!-- uncomment code for absolute positioning tweek see top comment in css -->
  <!-- <div class="absolute-wrapper"> </div> -->
  <!-- Menu -->
  {{>dashboard-sidebar}}
  <!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <div class=" col-sm-12 col-lg-10 ">
        <h1>Your Products</h1>
        {{#if success_msg}}
         {{#each success_msg}}
        <div role="alert" class="alert alert-success">
          <div>{{msg}}</div>
        </div>
        {{/each}} 
        {{/if}}
        <div class="panel panel-default">
          <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Products</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <input class="form-control" type="text" placeholder="Filter products...">
              </div>
            </div>
            <br>
            <table class="table table-striped table-hover">
              <tr>
                <tr>
                  <th>ID</th>
                  <th>ProductName</th>
                  <th>Price</th>
                  <th>
                  <a data-toggle="tooltip" data-placement="top" title="Add New!" class="btn btn-primary glyphicon glyphicon-plus" href="/product/add"></a>
               </th>
                </tr>
              </tr>
              {{#each result}}
              <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>
                    <!--edit button-->
                  <a data-toggle="tooltip" data-placement="top" title="Edit!" class="btn btn-primary glyphicon glyphicon-pencil"
                    href="/product/edit/{{id}}"></a>
                   <!--delete button-->
                   <form method="POST" action="/product/delete/{{id}}?_method=DELETE" enctype="multipart/form-data">
                  <button class="btn btn-danger glyphicon glyphicon-trash"  type='submit' value='delete' 
                    data-toggle="tooltip" data-placement="top" title="Delete"></button>
                    </form>
                </td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>