<div class="row">
  <!--imported from  partials folder-->
  {{>user-dashboard-sidebar}}

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">

      <div class="col-lg-8">
        <h3>Profile</h3>
        {{#if error_msg}} {{#each error_msg}}
        <div class="alert alert-danger">
          {{msg}}
        </div>
        {{/each}} {{/if}} {{#if success_msg}} {{#each success_msg}}
        <div class="alert alert-success">
          {{msg}}
        </div>
        {{/each}} {{/if}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Upload Image</h3>
          </div>
          <div class="panel-body">
            <div class="tab-content">
              <div class="form-group">
                <div class="wrapperAvatar"></div>
                <img class="avatar-img-settings" src="/userFiles/productImages/{{results.image}}" alt="">
                <p class="product-image-error"></p>
                <p class="error-msg">{{msgError}}</p>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <p>If you wanna update product image please first delete old image.Thank you ! </p>
                    <!--form to delete old image-->
                    <form method="POST" class='delete-product-btn' action="/product/image/delete/{{results.productId}}">
                      <input type="hidden" name="_csrf" value="{{csrfToken}}">
                      <button class="btn btn-danger " type='submit' value='delete' data-toggle="tooltip" data-placement="top" title="Delete">Delete old image</button>
                    </form>
                    <h2>Upload Image</h2>
                    <p>5MB max</p>
                    <p> jpg, jpeg, png or gif </p>
                     <!--form to upload new image-->
                    <form id="upload-profile-avatar-form" method="POST" action="/product/image/update/{{results.productId}}?_csrf={{ csrfToken}}" enctype="multipart/form-data">
                      <input type="file" name="productImage" id="profileAvatar" required="true" title="Please select an image" accept=".jpg,.jpeg,.png,.gif">
                      <br>
                      <button class="btn btn-default upload-user-avatar">save Image</button>
                    </form>        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>